* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
#modalImage{
  max-width: 400px;
}
body {
	background-color: #000;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

.main {
	background-image: url(../imgs/header.jpg);
	height: 550px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}
@media only screen and (max-width: 600px) {
  .main {
   background-image: url(../imgs/1.jpg);
  }
}


.logo {
	 position: absolute;
}

.logo img {
	width: 15%;
	padding-left: 5%;
}
@media only screen and (max-width: 600px) {
  .logo img {
   width: 20%;

 
  }
}

.header {
	display: inline-block;
	height: 100%;
	float: right;
	width: 75%;
	background: rgb(124,124,124);
	background: linear-gradient(90deg, rgba(124,124,124,0) 29%, rgba(73,73,73,0.5051062661392682) 59%, rgba(22,22,22,1) 100%);
	padding-right: 5%;
}

.red {
	color: #cc0901;
}

.title h1 {
	text-align: right;
	font-size: 70px;
	font-weight: bolder;
	padding-top: 23%;
}
@media only screen and (max-width: 600px) {
  .title h1  {
  text-align: center;
  font-size: 50px;
float: left;
padding-top: 50%;
   
  }
}
.subContent {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 52%, rgba(46,45,45,1) 100%);
	display: inline-block;
	padding-top: 3%;
	height: 250px;
}

.content {
	float: left;
	padding-left: 5%;
	padding-top: 4%;
	position: absolute;
}

.content h2 {
	font-size: 30px;
	font-weight: bold;
}

hr {
	width: 65%;
	border: .5px solid #707070;
}

.btn-danger {
	font-size: 20px;
	font-weight: bold;
	width: 140px;
	background-color: #cc0901;
}

.content i {
	padding-left: 10px;
}

.poster {
	float: right;
	margin-right: 3%;
	text-align: right;
}

.poster img {
	margin-left: 20px;
}


.poster i {
	margin-left: 15px;
	color: #fff;
}
.post img{
	width: 11%;
}
@media only screen and (max-width: 600px) {
  .post img {
   width: 20%;
   margin-top: 40%;
  }
}


/*---------------------ALL DEPARTMENTS PAGE--------------------------*/

.allDept {
  background-image: url(../imgs/dept.png);
  height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heading1 h1 {
  padding-top: 7%;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
 .heading1 h1 {
 padding-top: 12%;
  }
}

.arrowLeft {
  float: left;
  padding-top: 25%;
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
 .arrowLeft  {
 padding-top: 70%;
  }
}
.arrowLeft i {
  color: #707070;
}

.arrowRight {
  float: right;
  padding-top: 25%;
  margin-right: 5%;
}
@media only screen and (max-width: 600px) {
 .arrowRight  {
 padding-top: 70%;
  }
}

.arrowRight i {
  color: #707070;
}


.departments {
  display: inline-block;
  text-align: center;
}

.deptImages img {
  padding: 10px;
  width: 13%;
}
@media only screen and (max-width: 600px) {
  .deptImages img {
   width: 23%;
   padding: 1px; /* I CHANGED THE PADDING ONLY RIGHT NOW */
  }
}

.btn-secondary {
  text-transform: uppercase;
  margin-left: 5%;
}
@media only screen and (max-width: 600px) {
 .btn-secondary{
   margin-left: 15%; 
   margin-top:5px;/* I CHANGED THE PADDING ONLY RIGHT NOW */
  }
}
/*---------------------2D 3D PAGE--------------------------*/
.animation {
	margin-top: 15%;
	margin-right: 55%;
	float: left;
	margin-left: 12%;
	position: absolute;
	display: inline-block;
}
@media only screen and (max-width: 600px) {
  .animation  {
 margin-right: 15%;
float: left;
margin-left: 12%;
text-align: center; 
margin-top: 5%;
  }
}

.animation p {
	text-align: justify;
	text-justify: inter-word;
}

.animation h1 {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .animation h1 {
 margin-top: 10%;
margin-right: 20%;
float: left;
margin-left: 12%;
font-size: 30px;
 
  }
}
.animationDept {
	text-align: right;
	margin-right: 8%;
	padding-top: 5%;
}
@media only screen and (max-width: 600px) {
 .animationDept {
  text-align: center;
  padding-top: 90%;
  margin-left: 9%;
  }
}


.animationDept i {
	color: #707070;
}

.animationDept img {
	margin: 5px;
}
@media only screen and (max-width: 600px) {
  .animation img {

 
  }
}


.animationArrowLeft {
	padding-top: 25%;
	margin-left: 5%;
	position: absolute;
}

.animationArrowLeft i {
	color: #707070;
}

.animationArrowRight {
	float: right;
	padding-top: 25%;
}

.animationArrowRight i {
	color: #707070;
}

.animationDeptImages img {
	margin-right: 3%;
}
@media only screen and (max-width: 600px) {
.animationDeptImages img {
width: 35%;

  }
}


/*---------------------FOOTER--------------------------*/
.foot {
	padding-top: 3%;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	color: #707070;
   	text-align: center;
}
/* NAV CSS */
.burger {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  right: 50px;
  border-radius: 6px;
  z-index: 10;
  color: white;
}
.burger span {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 4px 0px;
}

.burger span,
.burger span::before,
.burger span::after {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #cc0801;
  outline: 1px solid transparent;
  border-radius: 8px;
}

.burger span::before,
.burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {

  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before,
.burger.clicked span:after {
  background-color: #cc0801;
}

.burger:hover {
  cursor: pointer;
}


nav {
  background-color: rgba(34, 34, 34, 0.9);
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 820px;
  width: 50%;
  padding: 100px 40px 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media only screen and (max-width: 600px) {
  nav {
  
width: 100%;
  }
}


nav.show {
  transform: translateX(0px);
}

nav.show ul.main1 li {
  transform: translateX(0px);
  opacity: 1;
  text-align: center;
}

nav.show ul.main1 li:nth-child(1) {
  transition-delay: 0.15s;
}

nav.show ul.main1 li:nth-child(2) {
  transition-delay: 0.3s;
}

nav.show ul.main1 li:nth-child(3) {
  transition-delay: 0.45s;
}

nav.show ul.main1 li:nth-child(4) {
  transition-delay: 0.6s;
}

nav.show ul.main1 li:nth-child(5) {
  transition-delay: 0.75s;
}

nav.show ul.main1 li:nth-child(6) {
  transition-delay: 0.9s;
}

nav.show ul.main1 li:nth-child(7) {
  transition-delay: 1.05s;
}

nav.show ul.main1 li:nth-child(8) {
  transition-delay: 1.2s;
}
nav.show {padding: 120px 90px 70px 90px;}

a.hEffect:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #cc0801;
  transition: width .3s;
}

a.hEffect:hover:after {
  width: 100%;
  transition: width .3s;
}
nav ul.main1 li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
}
/*MODAL css*/
.bgModal {
	position: absolute; 
	left: 0; 
	top: 0;
	z-index: 99;
	padding-top: 50px;
	width: 100%;
	height: 100%; 
	background-color: rgb(0, 0, 0, 0.95);
	display: flex;
	justify-content: center;
	align-items: center;
	/* display:none; */
	overflow: none;
  }
	  
  .modal-content {
	margin: 0 auto; 
	text-align: center;
	width: 700px; 
	height:100%; 
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	position: relative;
	background: none;
  }
  .modal-content img#modalImage {
	  height:350px;
	  padding-left: 20px;
	  padding-right: 20px;
  }
  
  
  .close {
	   position: absolute;
	   top: 0;
	   right:0px; 
		 cursor: pointer;
		 opacity:0.85;
		 transition: opacity ease-in 1000ms;
  }
  .close:hover {
		 opacity:1;
  }
  .spaceContent{
	  width:50%;
    margin: 0 auto;
    text-align: center;
	  padding: 20px;
  }
  .spaceContent h2, .spaceContent p{
	  color:#fff;
	  font-weight:700;
	  padding-top:25px;
  }
  .spaceContent h2 {
	  text-align: center;
  }
  .spaceContent p {
	  text-align: left;
	  padding-left: 20px;
	  padding-right:20px;
  }
  
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
	.show-modal {
		  opacity: 1;
		  visibility: visible;
		  transform: scale(1.0);
		  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
	  }