
body {
  margin: 0;
background-color: black;
  font-family: Raleway, sans-serif;
}
.top{
  height: 60px;
  background-color: black;

}
.hero-image {
   background-image: url("../imgs/header1.jpg");
  background-color: #cccccc;
 
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text h1{
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150px;
  text-transform: uppercase;
}
.hero-text p{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.logo {
float: left;
  position: absolute;
 top: -35px;
  left: 5px;
  color: white;
  width:130px; padding: px;

}
.column {
  float: right;
  width: 8.8%;
  padding: 5px;


}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}
.row{
	padding-top: 250px;
	padding-right: 50px;
}
.row1{
	padding-top: 10px;
	padding-right: 50px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.column2 {
  float: right;
  width: 11.11%;
  padding: 5px;


}

/* Clearfix (clear floats) */
.row2::after {
  content: "";
  clear: both;
  display: table;

}
.row2{
	
	padding-right: 50px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
#grad1 {
  height: 300px;
  width: 100%;
  background-color: black;
  background-color: red;
  background-image: linear-gradient(darkgrey, black);}

.main h2{
  text-align: center;
  display: inline-block;
 margin-top: 80px;
margin-left: 40px;
float: left;
  color: white;
  font-style: bold;
  font-size: 40px;
  border-bottom: 2PX solid white;
  position: absolute;
}
.btn{
   background-color: red; /* red */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-top: 160px;
  margin-left: 40px;
  float: left;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 10px;
  
  

}
.footer{
  color: white;
}


#menuToggle
{
  display: block;
  position: relative;
  float: right;
  top: 50px;
  right: 50px;
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;

float: right;
  position: absolute;
 top: 18px;
  right: : 4px;
  color: white;
}
}

#menuToggle a
{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;  
  transition: color 0.3s ease;
}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*hamburger menu*/
#menuToggle span
{
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  
  background: #cc0801;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*making a cross*/
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cc0801;
}

/*hiding the middle one*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*going opposite direction*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*top left hamburger menu*/
#menu
{
  position: absolute;
  width: 350px;
  margin: -100px 0 0 -350px;
  padding: 50px;
  padding-top: 180px;
  height: 100vh;
  
  
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
